.Register-Field {
    border: none;
   background: #F3F3F3;
   margin-bottom: 1rem;
   width: 40%;
   padding: 10px;
}

.Register-Field:focus {
    outline: none;
}

.select{
    appearance: none;
    border: none;
    width: 48%;
    padding: 10px;
    background: #F3F3F3; 
    
}

.select:focus{
    outline: none;
}

.Register-Btn {
    background-color: rgb(19, 170, 19);
    padding: .5rem 2rem;
    border: none;
    border-radius:  5px;
    margin-top: 1rem;
}

.Register-Btn:hover {
    cursor: pointer;
    background-color: rgb(19, 206, 19);
}